.squareButton {
  cursor: pointer;
}

.squareButton svg {
  width: 60px;
  height: 20px;
  position: relative;
  left: 15px;
  top: 9px;
}

.squareButton rect {
  fill: #dad4ff;
  width: 60px;
  height: 15px;
}

.squareButton:hover rect {
  fill: #c3bdf0;
}

.squareButton span {
  position: relative;
  right: 65px;
  font-size: 2vw;
}
