.matchRequestImageBox {
  display: inline-block;
  margin: 10px;
}

.matchRequestImage {
  width: 220px;
  height: 300px;
  object-fit: cover;
}

.matchRequestButton {
  border-radius: 10px;
  border: none;
  padding: 5px 20px 5px 20px;
}

.profile {
  background-color: white;
  position: relative;
  bottom: 40px;
  left: 10px;
}

.accept {
  background-color: white;
}

.decline {
  background-color: rgb(245, 150, 150);
}
