.profileWrapper {
  display: grid;
  width: 100%;
  padding: 15px 0 15px 0;
}

.profileImage {
  width: 10vh;
  border-radius: 50%;
}

.profileDropDown {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #aa9bff;
  color: white;
  min-width: 160px;
  padding: 1px 13px;
  z-index: 10;
  margin-top: 76px;
}

.profileWrapper:hover .profileDropDown {
  display: block;
}

.profileHr {
  border: none;
  background-color: white;
  height: 1px;
}

.profileWrapper ul {
  list-style: none;
  padding-left: 0;
}

.profileWrapper li {
  margin-bottom: 7px;
  padding: 0 5px 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.profileWrapper li:hover {
  background-color: #9989f0;
}

.profileDropDownIcon {
  position: relative;
  top: 6px;
  margin-right: 1vw;
}
