.homePage {
  display: flex;
}

.homeLeftSection {
  margin: 0 auto;
  text-align: center;
}

.homeLeftSection h1 {
  position: relative;
  top: 13vh;
  font-size: 3.5vw;
}

.homeNewNotiflications {
  color: white;
  background-color: #aa9bff;
  border-radius: 50%;
  height: 25vw;
  width: 25vw;
  text-align: center;
  margin: 0 auto;
}

.homeNewNotiflications p {
  position: relative;
  top: 20vh;
  font-size: 1.6vw;
  cursor: pointer;
}

.homeRightSection {
  margin: 0 auto;
  font-size: 1.3vw;
  height: 100%;
  width: 30vw;
  position: relative;
  top: 30vh;
  right: 6vw;
}
