.profilePageDiv {
  display: flex;
}

/*-- Name box --*/

.profileNameDiv {
  background-color: #aa9bff;
  color: white;
  height: 13vh;
  line-height: 13vh;
  position: relative;
  top: 5vh;
}

.profileName {
  position: relative;
  left: 25%;
  width: 60vw;
}

/*-- About me & image box --*/

.profileAboutImageBox {
  position: relative;
  bottom: 13vh;
  width: 18vw;
  border: 2px solid black;
  margin-left: 5%;
}

.profileImageDiv {
  height: 60vh;
}

.profileBigImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileRequestButton {
  position: relative;
  right: 0.2vw;
  bottom: 8vh;
  border-radius: 15px;
  border: none;
  padding: 1vh 2vw 1vh 2vw;
  margin: 0.7vw;
  outline: none;
  font-size: 1.1vw;
  cursor: pointer;
}

.profileRequestButton:hover {
  background-color: rgb(212, 212, 212);
}

.profileAboutMeDiv {
  height: 30vh;
  overflow: overlay;
  padding: 10px 10px 0px 10px;
}

.profileAboutMeTitle {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2vw;
}

.profileAboutMeText {
  font-size: 1.1vw;
}

/*-- Stats box --*/

.profileStatBox {
  background-color: #aa9bff;
  width: 25vw;
  height: 60vh;
  margin-left: 6%;
  margin-top: 6%;
  color: white;
}

.profileStatBox h1 {
  font-size: 3.5vw;
  margin-left: 3.5vw;
  margin-bottom: -2vh;
}

.profileStatBox li {
  font-size: 1.5vw;
}

.profileStatList {
  list-style: none;
  padding-left: 0;
  margin-left: 1.7vw;
}

.profileStatsIcon {
  position: relative;
  top: 3.8vh;
  margin-bottom: 1vh;
  padding: 2vh 2vw;
}

/*-- Image & game box --*/

.imageOrGameDiv {
  margin-left: 5%;
  margin-top: 5.5%;
  height: 60vh;
  width: 35vw;
}

.imageOrGameDivButtons {
  display: flex;
}

#imageOrGameDivButtonImages {
  margin: 0 auto;
  margin-left: 6vw;
}

#imageOrGameDivButtonGames {
  margin: 0 auto;
}

#imageOrGameDivButtonGames svg {
  width: 4vw;
  position: relative;
  left: 2px;
}

.imageOrGameDiv hr {
  border: none;
  height: 1.5px;
  background-color: #9584ff;
}

.galleryButton {
  background-color: white;
  border: solid 1.5px #9584ff;
  padding: 5px 10px;
  margin: 5px;
  outline: none;
  width: 98%;
}

.galleryButton:hover {
  border: solid 1.5px #5d4ebd;
}

.profileGames {
  height: 64vh;
  width: 35vw;
  overflow: overlay;
}

.aboutMeEditDiv textarea {
  width: 16vw;
  height: 18vh;
}

.aboutMeEditDiv button {
  width: 16.4vw;
  height: 3vh;
  background-color: white;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
}

.aboutMeEditDiv button:hover {
  transition: 0.5s;
  color: #9584ff;
}
