.logInPage {
  display: flex;
}

.signInLeftDiv {
  margin: 0 auto;
}

/*-- Find your player two --*/

.findYourPlayerTwoDiv {
  background-color: #aa9bff;
  height: 30vh;
  width: 28vw;
  color: white;
  margin-top: 10vh;
}

.findYourPlayerTwoText {
}

/*-- The Mario to your Peach --*/

.theMarioToYourPeachDiv {
  margin-top: 16vh;
  width: 28vw;
  text-align: center;
}

.theMarioToYourPeachText {
  font-size: 2vw;
}

/*-- Log in form --*/

.logInDiv {
  background-color: #aa9bff;
  color: white;
  width: 24vw;
  height: 65vh;
  margin: 0 auto;
  margin-top: 10vh;
  text-align: center;
}

.logInDiv h2 {
  font-size: 3vw;
  margin-bottom: 3vh;
}

.logInDiv p {
  font-size: 1.1vw;
}

.inputField {
  width: 14vw;
  height: 3.2vh;
  border: none;
}

.clickable {
  cursor: pointer;
}

.logInButton {
  width: 14vw;
  height: 5.5vh;
  background-color: transparent;
  color: white;
  border: 1.5px solid white;
  font-size: 1.5vw;
  outline: none;
  cursor: pointer;
  margin: 30px 0 10px 0;
}
