@font-face {
  font-family: pixelFont;
  src: url(./shared/fonts/PixelMplus10-Regular.ttf);
}

body {
  margin: 0;
  font-family: pixelFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: pixelFont;
}
button {
  font-family: pixelFont;
}

.blueText {
  color: rgb(134, 161, 248);
}

.pinkText {
  color: rgb(248, 134, 153);
}

.darkPurpleText {
  color: #5e17eb;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aa9bff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
